body {
    font-family: Georgia;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #dc1a1a;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.person {
    text-align: center;
    background-image: url('pictures/fut_card.png'); /* Remplacez 'chemin/vers/votre-image-de-fond.jpg' par le chemin correct de votre image de fond */
    background-size: cover; /* Ajustez la taille de l'image de fond selon vos préférences */
    padding: 20px; /* Espace intérieur pour la section "Students" */
}

.person img {
    max-width: 100%;
    border-radius: 50%;
}

.person p {
    margin: 10px 0;
    font-family: Georgia;
    font-size: 10px;
}

.person img {
    transition: transform 0.2s;
}

.person:hover img {
    transform: scale(1.1);
}

.person-info p {
    text-align: center;
    background-color: #dc1a1a;
    align-items: center;
    color: white;
    font-size: 20px;
}
