/* Réinitialisation des marges et du padding pour le corps et le HTML */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Utilisation de flexbox pour centrer le contenu */
body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% de la hauteur de la fenêtre */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #dc1a1a;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

/* Style pour le contenu de la page */
.header {
    text-align: center;
}

.player-info {
    text-align: center;
}

/* Style pour l'image */
img {
    max-width: 100%;
    height: auto;
}

/* Style pour le titre h1 */
h1 {
    font-size: 24px; /* Ajustez la taille de la police selon vos préférences */
}

/* Style pour le titre h2 */
h2 {
    font-size: 20px; /* Ajustez la taille de la police selon vos préférences */
}

/* Style pour les paragraphes */
p {
    font-size: 16px; /* Ajustez la taille de la police selon vos préférences */
}


